body {
  display: flex;
  height: 100vh;
  justify-content: center;
  align-items: center;

  overflow: hidden;
  object-fit: center;
}

.button {
  padding: 30px;
  width: 200px;
  font-size: 30px;
  background-color: crimson;
  color: white;
  border: none;
  border-radius: 5px;

  cursor: pointer;
  margin: 5px;
}

.button span {
  position: relative;
  transition: left 0.5s;
  left: 0px;
}

.button:hover span {
  left: -10px;
}

.button span::after {
  content: "\00bb";
  font-size: 30px;

  position: absolute;
  opacity: 0;
  right: -40px;
  transition: 0.5s;
}

.button:hover span::after {
  opacity: 1;
  right: -30px;
  transition: 0.5s;
}
